.tarif_about_text,
.tarif_about_text2 {
  width: 100%;
}
.tarif_about_text .a {
  color: #5d5d5f;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
}
.tarif_about_text .button {
  background-color: #95c761;
  color: #fff;
  padding: 6px 50px;
  border-radius: 50px 25px 50px 25px;
  font-size: 16px;
  font-family: "Roboto", serif;
  margin: 60px 0;
}
.tarif_about_text div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 50%;
  align-items: baseline;
  height: 25px;
}

.tarif_about_text2 div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
  height: fit-content;
}
.tarif_about_text2 .tarif_div1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
  align-items: baseline;
  height: 25px;
}
.tarif_about_text2 .tarif_div2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85.6%;
  align-items: baseline;
  height: 25px;
}
.tarif_about_text2 .tarif_div3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  align-items: baseline;
  height: 25px;
}

.tarif_about_text h4,
.tarif_about_text2 h4 {
  color: #6bb13d;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.tarif_about_text p,
.tarif_about_text2 p {
  color: #5d5d5f;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.tarif_about_text span,
.tarif_about_text2 span {
  color: #5d5d5f;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.tarif_wrapper {
  width: 97%;
  margin: auto;
  text-align: start;
  padding: 0px 28px 20px 28px;
  background-image: url(../../assets/border/bg_border1.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.tarif_wrapper2 {
  width: 97%;
  margin: auto;
  text-align: start;
  padding: 0px 28px 20px 28px;
  background-image: url(../../assets/border/bg_border12.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.tarif_small_p {
  line-height: 20px;
  width: 55%;
}

@media (max-width: 1080px) {
  .tarif_about_text .a {
    font-size: 16px;
  }
  .tarif_about_text .button {
    font-size: 12px;
  }
  .tarif_about_text div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
  }
  .tarif_about_text2 div,
  .tarif_about_text2 .tarif_div1,
  .tarif_about_text2 .tarif_div2,
  .tarif_about_text2 .tarif_div3 {
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
    height: fit-content;
  }

  .tarif_about_text h4,
  .tarif_about_text2 h4 {
    font-size: 20px;
  }
  .tarif_about_text p,
  .tarif_about_text2 p {
    font-size: 14px;
  }
  .tarif_about_text span,
  .tarif_about_text2 span {
    color: #5d5d5f;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .tarif_wrapper {
    background-image: none;
    border: 6px solid #b0d694;
    display: flex;
    justify-content: flex-start;
  }
  .tarif_wrapper2 {
    background-image: none;
    border: 6px solid #b0d694;

    justify-content: flex-start;
  }

  .tarif_small_p {
    width: 100%;
    line-height: normal;
  }
}
